<!DOCTYPE html>
<html>
<head>
  <title>Globalize current translation</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "globalize_current_translation/application", media: "all" %>
  <%= javascript_include_tag "globalize_current_translation/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
